---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Links collection" currentPage="links">
  <h1>Links collection</h1>

  <ul class="links-list">
    <li>
      <p class="link-title"><a href="https://www.gartner.com/en/articles/what-is-platform-engineering?utm_campaign=Monthly%20Newsletter&utm_medium=email&_hsmi=230371391&utm_content=230374352&utm_source=hs_email" target="_blank" rel="noopener">What Is Platform Engineering?</a></p>
      <p class="link-desc">Gartners overview on Platform Engineering</p>
    </li>
    <li>
      <p class="link-title"><a href="https://gaiagen.eu/recommendations" target="_blank" rel="noopener">GaiaGens recommendations to improve your climate impact</a></p>
      <p class="link-desc">Some methods and principles to boost the future of sustainable developers</p>
    </li>
    <li>
      <p class="link-title"><a href="https://humanitec.com/blog/crossplane-upbound-internal-developer-platforms-humanitec" target="_blank" rel="noopener">Architecting Internal Developer Platforms:</a> Humanitec and Crossplane</p>
      <p class="link-desc">Learn how you can build an Internal Developer Platform using Crossplane, Humanitec and GitHub Actions</p>
    </li>
  </ul>
</Layout>
